{
    "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "jest": true
    },
    "parser": "@babel/eslint-parser",
    "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:import/recommended"],
    "rules": {
        "semi": ["error", "always", { "omitLastInOneLineBlock": true }],
        "semi-style": ["error", "last"],
        "quotes": ["error", "double"],
        "jsx-quotes": ["error", "prefer-double"],
        "indent": ["warn", 4],
        "comma-dangle": ["error", "never"],
        "no-console": "warn",
        "import/order": ["error", {
            "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
            "newlines-between": "always-and-inside-groups"
        }],
        "react/react-in-jsx-scope": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    }
}