/** Step Wizard */
.step-wrapper {
    flex-grow: 1;
    position: relative;
    overflow-x: hidden;
}

.step {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.active {
    opacity: 1;
    pointer-events: inherit;
    position: relative;
    z-index: 1;
}
