.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px 0 24px;
    text-align: center;
    height: 100%;
}

.content {
    flex-grow: 1;
}

.gift {
    pointer-events: none;
}

.title {
    margin-bottom: 12px;
    color: #2196F3;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.desc {
    font-weight: 700;
    margin-bottom: 50px;
    color: #3A4850;
    line-height: 26px;
    font-size: 16px;
}

.footer {
    color: #5B6971;
    font-size: 12px;
    margin: 0 16px 26px 16px
}